@charset "UTF-8";



:root{
--fonte1: Verdana, Geneva, Tahoma, sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
}

html,body{
    background-color: darkgrey;
    font-size: var(--fonte1);
}

header
{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1
{
   padding-top: 50px;
   font-variant: small-caps; 
}
header>p
{
padding-bottom: 50px;
}

a
{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}


section
{
    padding-top: 10vh ;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal
{
    background-color: white;
    color: black ;
}
section.imagem
{
    background-color: rgb(39, 38, 38);
    color: white;
    box-shadow: inset 1px 2px 10px 0px rgba(0, 0, 0, 0.547);
    background-attachment: fixed;
}
section.imagem>p {
    width: 300px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.753);
    text-shadow: 1px 1px 0px black;
    border-radius: 20px;
}
section.imagem>p:hover{

    border-radius: 60px;
    transition: 0.5s;
}


section#img01
{
    background-image: url(imagem/devops0.jpg);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;

}
section#img02
{
   background-image: url(imagem/Discover\ DevOps.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}


footer
{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

footer:hover
{
    border-radius: 10px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.5s;
}



